{% extends 'base.html.twig' %}
{% block style %}
       <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">    
	<!-- Site CSS -->
  <link rel="stylesheet" href="{{ asset('css/style.css') }}">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
	 <link rel="stylesheet" href="{{ asset('css/formulaire2.css') }}">
{% endblock %}
{% block body %}
<body background-image=>
        <section class="center-form">
            <div class="container form-container">
                <div class="row">
                    <div class="col-lg-12">
                  


                        <h1 class="text-center mb-4">Create new Abonnement</h1>
                        {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
                        <div class="form-group">
                            {{ form_label(form.name, 'Nom') }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Enter your name', 'required': 'required'}}) }}
                            {{ form_errors(form.name) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.type, 'Type') }}
                            {{ form_widget(form.type) }}
                            {{ form_errors(form.type) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.prix, 'Prix') }}
                            {{ form_widget(form.prix, {'attr': {'class': 'form-control', 'placeholder': 'Enter the price', 'required': 'required'}}) }}
                            {{ form_errors(form.prix) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.date_debut, ' Date de debut') }}
                            {{ form_widget(form.date_debut, {'attr': {'class': 'form-control', 'type': 'date', 'required': 'required'}}) }}
                            {{ form_errors(form.date_debut) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.date_fin, 'Date de fin') }}
                            {{ form_widget(form.date_fin, {'attr': {'class': 'form-control', 'type': 'date', 'required': 'required'}}) }}
                            {{ form_errors(form.date_fin) }}
                        </div>

                         {{ include('abonnement/_form.html.twig', {'button_label': 'Update'}) }}

  
                    </div>
                </div>
            </div>
        </section>
		</body>
	{% endblock %}
