{% extends 'base.html.twig' %}

{% block style %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">    
    <!-- Site CSS -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('css/salle.css') }}">
{% endblock %}

{% block body %}
    <body> 
        <br>
        <br>
        <br>
        <div class="menu-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="heading-title text-center">
                            <h2>Salle de sport</h2>
                            <p>Préparez-vous à transformer votre vie ! Assurez-vous une place privilégiée en optant dès maintenant pour votre abonnement à la salle de sport. Embarquez dans une aventure fitness inoubliable qui n'attend que vous avec enthousiasme</p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="special-menu text-center">
                            <div class="button-group filter-button-group">
                                <button class="active" data-filter="*">All</button>
                                <button data-filter=".drinks"><img src="{{ asset('images/ett1.png') }}" class="ab2"></button>
                                <button data-filter=".lunch"><img src="{{ asset('images/ett2.png') }}"  class="ab2"></button>
                                <button data-filter=".dinner"><img src="{{ asset('images/ett3.png') }}"  class="ab2"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Add a search input -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="searchInput">Search Salle:</label>
                            <input type="text" id="searchInput" class="form-control" placeholder="Enter salle name">
                        </div>
                    </div>
                </div>

                <div class="row special-list">
                {% for salle in salles %}
                    <div class="col-lg-4 col-md-6 special-grid drinks">
                        <div class="gallery-single fix">
                            <img src="{{ asset('/uploads/' ~ salle.image) }}"  alt="Image">
                            <div class="why-text">
                                <a href='https://www.california-gym.com/'>{{ salle.nom | capitalize}}</a>
                                <a  href="{{ path('app_abonnement_new',{salle: salle.id }) }}" >Abonner vous<img src="{{ asset('images/clique.jpg') }}" class="ab" alt="Image"></a>	
                                <h5>{{ salle.prix ~' DT'  }}</h5>
                            </div>
                        </div>
                    </div>
            {% endfor %}

					<div>
               
			</div>
            
                </div>
            </div>
        </div>
    </body>
{% endblock %}
  
 

   
   {% block script %}
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <!-- ALL PLUGINS -->
    <script src="{{ asset('js/jquery.superslides.min.js') }}"></script>
    <script src="{{ asset('js/images-loded.min.js') }}"></script>
    <script src="{{ asset('js/isotope.min.js') }}"></script>
    <script src="{{ asset('js/baguetteBox.min.js') }}"></script>
    <script src="{{ asset('js/form-validator.min.js') }}"></script>
    <script src="{{ asset('js/contact-form-script.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
            const searchInput = document.getElementById('searchInput');
            const galleryItems = document.querySelectorAll('.special-grid');

            searchInput.addEventListener('input', function () {
                const searchQuery = this.value.trim().toLowerCase();

                galleryItems.forEach(item => {
                    const itemName = item.querySelector('a').textContent.trim().toLowerCase();

                    if (itemName.includes(searchQuery)) {
                        item.style.display = 'block';
                    } else {
                        item.style.display = 'none';
                    }
                });
            });
        });
    </script>
    {% endblock %}



	